/* General Styles */
.loginFormContainer {
    width: 100%;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('sen.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    color: #fff;
    display: flex;
    padding: 30px 40px;
    align-items: center;
    overflow: hidden;
    transition: height .2s ease;
    position: relative;
}

.form-box {
    width: 100%;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.form-box.login {
    width: 350px;
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
    border-radius: 30px;
}

.form-box.register {
    width: 420px;
    position: absolute;
    transition: none;
    transform: translateX(400px);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.wrapper .form-box.register {
    border-radius: 10px;
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active {
    height: 640px;
    border-radius: 30px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.form-box.login .input-box {
    position: relative;
    width: 125%;
    height: 50px;
    margin: 40px 0;
}

.form-box.login .input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 18px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.form-box.login .input-box input::placeholder {
    color: #fff;
}

.form-box.login .input-box .password-icon {
    position: absolute;
    top: 60%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;

    
}

.form-box.register .input-box {
    position: relative;
    width: 100%;
    height: 45px;
    margin: 32px 0;
}

.form-box.register .input-box input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 18px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.form-box.register .input-box input::placeholder {
    color: #fff;
}

.form-box.register .input-box .password-icon {
    position: absolute;
    top: 60%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #fff;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    gap: 50px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 4px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.login-button {
    width: 125%;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: #333;
    font-weight: 700;
    position: relative;
}

.register-button {
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: #333;
    font-weight: 700;
}

.wrapper .login-register-link {
    width: 130%;
    font-size: 13.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.wrapper .register-login-link {
    width: 100%;
    font-size: 13.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-register-link p,
.register-login-link p {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 5px 0;
}

.login-register-link p a,
.register-login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.login-register-link p a:hover,
.register-login-link p a:hover {
    text-decoration: underline;
}

.error-message {
    color: red;
    font-size: 0.9em;
    text-align: center;
    margin-top: 10px;
}
